/* Existing CSS */

.App {
    text-align: center;
    display: flex;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    margin-top: 0px;
}

.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 2rem; /* Adjusted padding */
        border: 1px solid black;
        border-radius: 10px;
        margin: 1rem; /* Adjusted margin */
    }
}

h2 {
    font-size: 24px; /* Adjusted font size */
    color: black;
}

label {
    text-align: left;
    padding: 0.5rem 0;
    font-size: 18px; /* Adjusted font size */
}

input {
    margin: 0.5rem 0;
    padding: 15px; /* Adjusted padding */
    border: 1px solid black;
    color: black;
    border-radius: 8px; /* Adjusted border-radius */
    font-size: 14px; /* Adjusted font size */
}

button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px; /* Adjusted border-radius */
    cursor: pointer;
    color: black;
    font-size: 1em; /* Adjusted font size */
}

/* Additional CSS for link button and error message */

.link-btn {
    background: none;
    color: black;
    text-decoration: underline;
}

.error-message {
    color: black;
    margin-top: 5px;
    font-size: 12px; /* Adjusted font size */
}

.input-error {
    border: 1px solid red;
}
